/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.brand-name {
    font-size: 1.8rem;
    font-weight: bold;
}

/* Menü Bar */
.menu-bar {
    background-color: #333;
    display: flex;
    justify-content: space-around; /* Menüleri eşit dağıt */
    align-items: center;
    padding: 0.5rem 0;
}

.menu-item {
    position: relative;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem 1rem;
    text-align: center;
}

.menu-item:hover {
    background-color: #575757;
}

/* Dropdown Menü */
.dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: white;
    padding: 0.8rem;
    border-bottom: 1px solid #575757;
    text-align: left;
    cursor: pointer;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #575757;
}

.menu-item:hover .dropdown {
    display: block;
}
