<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberTool</title>
    <link rel="stylesheet" href="../static/css/domain_analyzer.css">
    <script src="../static/js/scripts.js"></script>
</head>
<body>
    <header>
        <a href="/" class="brand-name" style="text-decoration:none;">CyberTool</a>
    </header>
    <main>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="domain">Enter domain to scan:</label>
            <input type="text" id="user_input" name="user_input" required>
            <button type="submit">Start!</button>
        </form>

        {% if ip_info %}
            <table>
                <tbody>
                    {% for key, value in ip_info.items %}
                        <tr>
                            <p style="font-size:40px;" align="center">{{ key }}</p>
                            <p style="font-size:25px;" align="center">{{ value }}</p>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if ssl_info %}
            <button onclick="toggleSsl()">SSL Information</button>
            <div id="ssl-section" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
                <table>
                    <tbody>
                        {% for k,v  in ssl_info.items %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if open_ports %}
            <button onclick="togglePorts()">Open Ports</button>
            <div id="ports-section" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
                <table>
                    <thead>
                        <tr>
                            <th>Port</th>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for port in open_ports %}
                            <tr>
                                <td>{{ port.0 }}</td>
                                <td>{{ port.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if whois_response %}
            <button onclick="toggleWhois()">WHOIS Information</button>
            <div id="whois-section" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
                <table>
                    <tbody>
                        {% for whois_info in whois_response %}
                            <tr>
                                <td>{{ whois_info.0 }}</td>
                                <td>{{ whois_info.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        {% if dns_records %}
            <button onclick="toggleDNSRecords()">DNS Records</button>
            <div id="dns-records-section" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease;">
                <table>
                    <thead>
                        <tr>
                            <th>Record Type</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in dns_records %}
                            <tr>
                                <td>{{ rec.0 }}</td>
                                <td>{{ rec.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
    </main>
</body>
</html>
