<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberTool</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <a href="/" class="brand-name" style="text-decoration:none;">CyberTool</a>
    </header>

    <nav class="menu-bar">
        <a href="/domain-analyzer" class="menu-item" style="text-decoration:none;">Domain Analyzer</a>
    </nav>
</body>
</html>
