<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberTool</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="brand-name">CyberTool</div>
    </header>

    <!-- Menü Bar -->
    <nav class="menu-bar">
        <div class="menu-item">
            Domain Analyzer
            <div class="dropdown">
                <!-- <a href="/ip-addresses" class="dropdown-item">IP Addresses</a> -->
                <div class="dropdown-item">IP Addresses</div>

            </div>
        </div>
        <!-- <div class="menu-item">
            Menü 2
            <div class="dropdown">
                <div class="dropdown-item">Alt Menü 1</div>
                <div class="dropdown-item">Alt Menü 2</div>
            </div>
        </div>
        <div class="menu-item">
            Menü 3
            <div class="dropdown">
                <div class="dropdown-item">Alt Menü 1</div>
                <div class="dropdown-item">Alt Menü 2</div>
                <div class="dropdown-item">Alt Menü 3</div>
            </div>
        </div>
        <div class="menu-item">
            Menü 4
            <div class="dropdown">
                <div class="dropdown-item">Alt Menü 1</div>
                <div class="dropdown-item">Alt Menü 2</div>
            </div>
        </div> -->
    </nav>
</body>
</html>
